/*Color Guide
Earth Background = #1C6758
Earth Offcolor = #3D8361
Tan Accent = #D6CDA4
Offwhite = #EEF2E6
*/
body{
    background-color: #1C6758;
    color: #EEF2E6;
    padding: 25px;
}
.headingText{
    color: #a5a053;
}
#dashHead{
    color: #8F5015;
}
#dashName{
    color: #8F5015;
    background-color: #3E323C;
    border-color: #a5a053;
}
.defButton {
    background-color: #a5a053;
    color: white;
    border-radius: 4px;
}
.collapsible {
    background-color: #a5a053;
    color: #3E323C;
    cursor: pointer;
    padding: 18px;
    width: 20%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: 700;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #a5a053;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    width: 20%;
    display: none;
    overflow: hidden;
    background-color: #a5a053;
    transition: max-height 0.5s ease-out;
    max-height: 0;
  }
  /*Nav Elements Bar CSS*/
  nav ul {
    z-index: 100;
    height: 4 0px;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #3D8361;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex; /* this will make the list items side by side */
    justify-content: left; 
  }
  nav li{
    padding-right: 10px;
  }
  nav li:first-child {
    margin-left: 0;
  }
  nav li:last-child {
    margin-right: 0;
  }
  /*Nav Buttons CSS*/
  #bottone1 {
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 9px;
    background: #1C6758;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
   }
   
   #bottone1:hover {
    box-shadow: 7px 5px 56px -14px #fff;
   }
   
   #bottone1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #fff;
   }
   a{
    text-decoration: none;
    color: #fff;
   }