/*Color Guide
Earth Background = #1C6758
Earth Offcolor = #3D8361
Tan Accent = #D6CDA4
Offwhite = #EEF2E6
*/
/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}
/* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}
#button2{
    --animation-color: #37afff;
}
/* Modal Overlay*/
.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Modal itself/content*/
.modal-content {
    background-color: #3D8361;
    padding: 30px;
    border-radius: 5px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: left;
}
/* Form Inputs*/
input {
    background-color: #D6CDA4;
    font-size: 25px;    
}
label {
    font-size: 25px;    
}