<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'compareApp/default.css' %}">
    {% block styles %}{% endblock %}
  </head>
  <body> 
    {% if showbanner %}
    <header>
      <nav>
        <ul>
          <li><a id="bottone1" href="{% url 'login' %}">Login</a></li>
          <li><a id="bottone1" href="{% url 'earthView' %}">Weather</a></li>
          <li><a id="bottone1" href="{% url 'accountHome' %}">Account</a></li>
        </ul>
      </nav>
    </header>
    {%endif%}

    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
